{{>adminHeader}}
<div class='bg-gray-100 pt-[20px]'>
    <div class='flex flex-row'>
        <!-- Left sidebar -->
        <div class='bg-white shadow h-[0%] w-[12.5%] rounded-lg my-6 ml-[10px]'>
            <div class='p-4'>
                <h2 class='text-lg font-bold mb-4'>Manage</h2>
                <ul class='space-y-2'>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-newspaper'
                            ></i>Posts</a></li>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-tag'
                            ></i>Tags</a></li>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-user'
                            ></i>Users</a></li>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-users-gear'
                            ></i>Staffs</a></li>
                </ul>
            </div>
        </div>

        <!-- Main content area -->
        <div class='w-[87.5%]'>
            <div class='w-full px-4 py-6'>
                <div class='bg-white shadow rounded-lg p-4'>
                    <h2 class='text-2xl font-bold mb-4'>Pending posts</h2>
                    <div class='flex flex-col'>
                        <div class='overflow-x-auto overflow-y-auto max-h-60 sm:-mx-6 lg:-mx-8'>
                            <div class='inline-block min-w-full py-2 sm:px-6 lg:px-8'>
                                <div class='overflow-hidden'>
                                    <table class='min-w-full text-left text-sm font-light'>
                                        <thead class='border-b font-medium dark:border-neutral-500'>
                                            <tr>
                                                <th scope='col' class='px-6 py-4'>#</th>
                                                <th scope='col' class='px-6 py-4'>Full name</th>
                                                <th scope='col' class='px-6 py-4'>Title</th>
                                                <th scope='col' class='px-6 py-4'>Post date</th>
                                                <th scope='col' class='px-6 py-4'>Action</th>
                                                <th scope='col' class='px-6 py-4'>Approve</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each posts as |item|}}
                                                <tr class='border-b dark:border-neutral-500'>
                                                    <td class='whitespace-nowrap px-6 py-4 font-medium'>{{item._id}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4 post-name'>{{item.owner.0.name}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4 post-title'>{{item.title}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{formatDate item.createdAt}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4 view-post'>
                                                        <i class='fa-regular fa-eye'></i>
                                                    </td>
                                                    <td class="approve">
                                                        <input
                                                            class="h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca]"
                                                            type="checkbox"
                                                            role="switch"
                                                            id="flexSwitchCheckDefault" 
                                                        />
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='w-full px-4 py-6'>
                <div class='bg-white shadow rounded-lg p-4'>
                    <h2 class='text-2xl font-bold mb-4'>Tags</h2>
                    {{!-- {{>button name='Add tag'}} --}}
                    <!-- Button trigger modal -->
            <button
                type="button"
                class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                data-te-toggle="modal"
                data-te-target="#exampleModal"
                data-te-ripple-init
                data-te-ripple-color="light">
                Add Tag
            </button>

                    <div class='flex flex-col'>
                        <div class='overflow-x-auto overflow-y-auto max-h-60 sm:-mx-6 lg:-mx-8'>
                            <div class='inline-block min-w-full py-2 sm:px-6 lg:px-8'>
                                <div class='overflow-hidden'>
                                    <table class='min-w-full text-left text-sm font-light'>
                                        <thead class='border-b font-medium dark:border-neutral-500'>
                                            <tr>
                                                <th scope='col' class='px-6 py-4'>#</th>
                                                <th scope='col' class='px-6 py-4'>Name</th>
                                                <th scope='col' class='px-6 py-4'>Updated date</th>
                                                <th scope='col' class='px-6 py-4'>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each categories as |item|}}
                                                <tr class='border-b dark:border-neutral-500'>
                                                    <td class='whitespace-nowrap px-6 py-4 font-medium'>{{item._id}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{item.category}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>25/11/2002</td>
                                                    <td class='whitespace-nowrap px-6 py-4'><button><i
                                                                class='fa-regular fa-trash-can pr-4'
                                                            ></i></button>
                                                        <button><i
                                                                class='fa-regular fa-pen-to-square pr-14'
                                                            ></i></button></td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='w-full px-4 py-6'>
                <div class='bg-white shadow rounded-lg p-4'>
                    <h2 class='text-2xl font-bold mb-4'>All users</h2>
                    <div class='flex flex-col'>
                        <div class='overflow-x-auto overflow-y-auto max-h-60 sm:-mx-6 lg:-mx-8'>
                            <div class='inline-block min-w-full py-2 sm:px-6 lg:px-8'>
                                <div class='overflow-hidden'>
                                    <table class='min-w-full text-left text-sm font-light'>
                                        <thead class='border-b font-medium dark:border-neutral-500'>
                                            <tr>
                                                <th scope='col' class='px-6 py-4'>#</th>
                                                <th scope='col' class='px-6 py-4'>Full Name</th>
                                                <th scope='col' class='px-6 py-4'>Email</th>
                                                <th scope='col' class='px-6 py-4'>Joined at</th>
                                                <th scope='col' class='px-6 py-4'>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each users as |item|}}
                                                <tr class='border-b dark:border-neutral-500'>
                                                    <td class='whitespace-nowrap px-6 py-4 font-medium'>{{item._id}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{item.name}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{item.email}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{formatDate item.createdAt}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'><button><i
                                                                class='fa-regular fa-eye pr-4'
                                                            ></i></button><button><i
                                                                class='fa-solid fa-lock pr-4'
                                                            ></i></button>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='w-full px-4 py-6'>
                <div class='bg-white shadow rounded-lg p-4'>
                    <h2 class='text-2xl font-bold mb-4'>Locked users</h2>
                    <div class='flex flex-col'>
                        <div class='overflow-x-auto overflow-y-auto max-h-60 sm:-mx-6 lg:-mx-8'>
                            <div class='inline-block min-w-full py-2 sm:px-6 lg:px-8'>
                                <div class='overflow-hidden'>
                                    <table class='min-w-full text-left text-sm font-light'>
                                        <thead class='border-b font-medium dark:border-neutral-500'>
                                            <tr>
                                                <th scope='col' class='px-6 py-4'>#</th>
                                                <th scope='col' class='px-6 py-4'>Full Name</th>
                                                <th scope='col' class='px-6 py-4'>Email</th>
                                                <th scope='col' class='px-6 py-4'>Joined at</th>
                                                <th scope='col' class='px-6 py-4'>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each blockedUsers as |item|}}
                                                <tr class='border-b dark:border-neutral-500'>
                                                    <td class='whitespace-nowrap px-6 py-4 font-medium'>{{item._id}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{item.name}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{item.email}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{formatDate item.createdAt}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'><button><i
                                                                class='fa-regular fa-eye pr-4'
                                                            ></i></button><button><i
                                                                class='fa-solid fa-unlock pr-4'
                                                            ></i></button>
                                                    </td>
                                                </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='w-full px-4 py-6'>
                <div class='bg-white shadow rounded-lg p-4'>
                    <h2 class='text-2xl font-bold mb-4'>Administrator</h2>
                    {{>button name='Add staff'}}
                    <div class='flex flex-col'>
                        <div class='overflow-x-auto overflow-y-auto max-h-60 sm:-mx-6 lg:-mx-8'>
                            <div class='inline-block min-w-full py-2 sm:px-6 lg:px-8'>
                                <div class='overflow-hidden'>
                                    <table class='min-w-full text-left text-sm font-light'>
                                        <thead class='border-b font-medium dark:border-neutral-500'>
                                            <tr>
                                                <th scope='col' class='px-6 py-4'>#</th>
                                                <th scope='col' class='px-6 py-4'>Full Name</th>
                                                <th scope='col' class='px-6 py-4'>Role</th>
                                                <th scope='col' class='px-6 py-4'>Added at</th>
                                                <th scope='col' class='px-6 py-4'>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each employees as |item|}}
                                                <tr class='border-b dark:border-neutral-500'>
                                                    <td class='whitespace-nowrap px-6 py-4 font-medium'>{{item._id}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{item.name}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{item.Role}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'>{{formatDate item.createdAt}}</td>
                                                    <td class='whitespace-nowrap px-6 py-4'><button><i
                                                                class='fa-regular fa-eye pr-4'
                                                            ></i></button><button><i
                                                                class='fa-regular fa-pen-to-square pr-4'
                                                            ></i></button><button><i
                                                                class='fa-regular fa-trash-can pr-4'
                                                            ></i></button>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button
        id='btn-back-to-top'
        data-te-ripple-color='light'
        class='fixed bottom-5 left-5 inline-block invisible rounded-full bg-danger p-2 uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#dc4c64] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)]'
    >
        <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 24 24'
            fill='currentColor'
            stroke-width='2.5'
            stroke='currentColor'
            class='h-4 w-4'
        >
            <path
                fill-rule='evenodd'
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75'
                clip-rule='evenodd'
            />
        </svg>
    </button>

    <!-- Modal -->
    <div
        data-te-modal-init
        class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div
            data-te-modal-dialog-ref
            class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]">
        <div
            class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
        <div
            class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
            <!--Modal title-->
            <h5
                class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                id="exampleModalLabel">
                Modal title
            </h5>
            <!--Close button-->
            <button
                type="button"
                class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                data-te-modal-dismiss
                aria-label="Close">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </div>

        <!--Modal body-->
        <input type="text" name="new-tag">

        <!--Modal footer-->
        <div
            class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
            <button
                type="button"
                class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                data-te-modal-dismiss
                data-te-ripple-init
                data-te-ripple-color="light">
                Close
            </button>
            <button
                id="save-button"
                type="button"
                class="ml-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                data-te-ripple-init
                data-te-ripple-color="light">
                Save changes
            </button>
        </div>
        </div>
    </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    const newTagButton = document.querySelector('#save-button');
    newTagButton.addEventListener('click', async () => {
        const category = document.querySelector("input[name='new-tag']").value;
        await fetch(`http://localhost:3000/admin/tags`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ category }),
        }).then(() => {
            swal({
                title: 'Great! 😘',
                text: 'You have created a new tag successfully',
                icon: 'success',
            });
        });
    });
</script>