<div class='bg-gray-100'>

    <!-- Main Section -->
    <main class='container mx-auto py-10'>
        <div class='grid grid-cols-12 gap-6'>
            <!-- Left Sidebar -->
            <div class='col-span-3'>
                <div class='bg-white rounded-lg p-5 shadow mb-5'>
                    <img src={{user.image}} alt='Profile Picture' class='w-full rounded-lg mb-5' />
                    <h2 class='text-lg font-bold'>{{user.name}}</h2>
                    <p class='text-gray-500 text-sm'>{{user.email}}</p>
                    <p class='mt-2'>(this is bio) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel
                        tellus ut velit varius ultrices.</p>
                </div>
            </div>

            <!-- Main Content -->
            <div class='col-span-9'>
                <!-- User Info -->
                <div class='bg-white rounded-lg p-5 shadow mb-5'>
                    <h2 class='text-lg font-bold mb-5'>{{user.name}} Information</h2>
                    <ul>
                        <li><span class='font-bold'>Name: </span>{{user.name}}</li>
                        <li><span class='font-bold'>Email: </span>{{user.email}}</li>
                        <li><span class='font-bold'>Phone Number: </span>{{user.phoneNumber}}</li>
                        <li><span class='font-bold'>Joined: </span>{{formatDate user.createdAt}}</li>
                        <li><span class='font-bold'>Updated profile at: </span>{{formatDate user.updatedAt}}</li>
                    </ul>
                    <button
                        type='button'
                        class='inline-block rounded bg-primary px-6 pb-2 pt-2.5 mt-3 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]'
                        data-te-toggle='modal'
                        data-te-target='#staticBackdrop'
                        data-te-ripple-init
                        data-te-ripple-color='light'
                    >
                        Edit profile
                    </button>
                    {{! Edit profile Modal }}
                    {{>editProfile}}
                </div>

                <!-- User Posts -->
                <div class='bg-white rounded-lg p-5 shadow mb-5'>
                    <h2 class='text-lg font-bold mb-5'>More from {{user.name}}</h2>
                    <ul>
                        <li class='py-[10px]'>
                            <a href='#'>Post Title 1</a>
                            <p class='text-gray-500 text-sm'>June 12, 2022</p>
                        </li>
                        <li class='py-[10px]'>
                            <a href='#'>Post Title 2</a>
                            <p class='text-gray-500 text-sm'>June 13, 2022</p>
                        </li>
                        <li class='py-[10px]'>
                            <a href='#'>Post Title 3</a>
                            <p class='text-gray-500 text-sm'>June 14, 2022</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>