<div class='bg-gray-100'>

    <!-- Main Section -->
    <main class='mx-[60px] py-10 px-4'>
        <!-- Post Title -->
        <h1 class='text-3xl font-bold mb-5'>{{post.title}}</h1>

        <!-- Post Content -->
        <div class='prose max-w-full'>
            {{{post.content}}}
        </div>

        <!-- Post Metadata -->
        <div class='mt-5 text-gray-500 text-sm'>
            <span class='mr-4'><i class='far fa-calendar-alt mr-2'></i>{{formatDate post.createdAt}}</span>
            <span class='mr-4'><i class='far fa-user mr-2'></i>{{post.owner.0.name}}</span>
            <span class='mr-4'><i class='fa-solid fa-tag mr-2'></i>{{post.category}}</span>
            <span class='mr-4'><i class='far fa-comment mr-2'></i> 2 Comments</span>
            <button class='mr-4'><i class='fa-regular fa-heart mr-2'></i>{{post.like}}</button>
            <button class='mr-4'><i class='fa-regular fa-bookmark mr-2'></i> Bookmark</button>
            <!-- Button trigger modal -->
            <button
                type='button'
                class='mr-4'
                data-te-toggle='modal'
                data-te-target='#exampleModalScrollable'
                data-te-ripple-init
                data-te-ripple-color='light'
            >
                <i class="fa-solid fa-clock-rotate-left pr-1"></i>View edit history
            </button>
            {{>viewEditHistory}}
        </div>

        <section class='mt-10'>
            <h2 class='text-xl font-bold mb-5'>Comments</h2>
            <!-- Comment 1 -->
            <div class='bg-white rounded-lg p-5 mb-5 shadow'>
                <h3 class='text-lg font-bold'>Commenter Name</h3>
                <p class='text-gray-500 text-sm'>June 13, 2022</p>
                <p class='mt-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel tellus ut velit varius
                    ultrices.</p>
            </div>

            <!-- Comment 2 -->
            <div class='bg-white rounded-lg p-5 mb-5 shadow'>
                <h3 class='text-lg font-bold'>Commenter Name</h3>
                <p class='text-gray-500 text-sm'>June 13, 2022</p>
                <p class='mt-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel tellus ut velit varius
                    ultrices.</p>
            </div>

            <!-- Comment Form -->
            <div class='mt-10'>
                <h2 class='text-xl font-bold mb-5'>Leave a Comment</h2>
                <form action='#' method='POST'>
                    <div class='flex flex-col mb-5'>
                        <label for='comment' class='text-gray-500'>Comment</label>
                        <textarea
                            id='comment'
                            name='comment'
                            class='px-4 py-2 rounded-lg border-gray-400 border focus:outline-none focus:border-blue-400'
                            required
                        ></textarea>
                    </div>
                    <button
                        type='submit'
                        class='bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600'
                    >Submit</button>
                </form>
            </div>
        </section>
    </main>
</div>